@import "../utils/parameters";
//Special

.special {
	overflow: hidden;
	min-height: 675px;
	background: url("../imgs/team/03.jpg") center / cover no-repeat;

	&__label {
		position: relative;
		padding: 46px 0px 0px 0px;
		text-align: center;
		font-weight: 700;
		font-size: 1.2rem;
		color: $c-primary;
		letter-spacing: 0.5em;
		text-transform: uppercase;

		&::before {
			content: "";
			position: absolute;
			right: 50%;
			top: 0;
			width: 1px;
			height: 700px;
			background-color: rgba(255, 255, 255, 0.2);
		}
	}

	&__row {
		display: flex;
		align-items: center;
		padding: 45px 0px 100px 0px;
	}

	&__images-column {
		width: 50%;
	}

	&__imgs {
		position: relative;
		display: inline-block;
		padding: 0px 0px 0px 124px;

		&::before {
			content: "";
			position: absolute;
			left: 36%;
			bottom: -70%;
			width: 1px;
			height: 1000px;
			background-color: rgba(255, 255, 255, 0.2);
		}
	}

	&__image {
		position: relative;
		border-radius: 5px;
		z-index: 1;
		max-width: 30vw;
	}

	&__img {
		position: absolute;
		left: 0;
		bottom: 22%;
		z-index: 1;
		max-width: 15vw;
		box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
		border-radius: 5px;
		animation: rotate 3s ease infinite;
	}

	&__content {
		text-align: center;
		max-width: 575px;
		padding: 30px 0px;
		position: relative;
		width: 50%;
		margin: 0px 0px 0px 53px;

		&::before {
			content: "";
			position: absolute;
			right: 35%;
			top: -70%;
			width: 1px;
			height: 1000px;
			background-color: rgba(255, 255, 255, 0.2);
		}
	}

	&__title {
		position: relative;
		left: 0;
	}

	&__subtitle {
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 156%;
		margin: 0px 0px 20px 0px;
		color: rgba(255, 255, 255, 0.9);
	}

	&__text {
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 24px;
		color: rgba(255, 255, 255, 0.9);
	}
}

//Media

@media (max-width: $xl) {
	.special {
		min-height: 500px;
		&__img {
			left: 3%;
			bottom: 24%;
		}

		&__content {
			max-width: 550px;
		}
	}
}

@media (max-width: $lg) {
	.special {
		min-height: 400px;
		&__row {
			padding: 20px 0px 50px 0px;
		}

		&__content {
			max-width: 500px;
		}

		&__img {
			left: 10%;
		}
	}
}

@media (max-width: $md) {
	.special {
		&__content {
			margin: 0px 0px 0px 10px;
			max-width: 400px;
		}

		&__img {
			left: 15%;
		}
	}
}

@media (max-width: $sm) {
	.special {
		padding: 30px 0px;
		&__label {
			padding: 0;
			position: static;
			margin: 0px 0px 20px 0px;
			&::before {
				position: static;
			}
		}

		&__img {
			position: relative;
			left: 0;
			bottom: 135px;
			max-width: 50vw;
		}

		&__row {
			flex-direction: column-reverse;
			justify-content: center;
			padding: 0;
		}

		&__images-column {
			width: 100%;
			text-align: center;
		}

		&__imgs {
			padding: 0;
			text-align: center;
			&::before {
				position: static;
			}
		}

		&__image {
			max-width: 100%;
			display: block;
			height: auto;
		}

		&__content {
			width: 100%;
			max-width: 100%;
			padding: 0;
			margin: 0px 0px 50px 0px;

			&::before {
				position: static;
			}
		}
	}
}

@media (max-width: $xs) {
	.special {
		padding: 20px 0px 140px 0px;
		&__img {
			position: absolute;
			left: 23%;
			bottom: -27%;
			animation: none;
		}

		&__subtitle {
			font-size: 1.7rem;
			margin: 0px 0px 10px 0px;
		}

		&__content {
			margin: 0px 0px 30px 0px;
		}

		&__title {
			font-size: 3.2rem;
		}
	}
}
