


//About


section.about
	.container
		.about__row
			.about__content
				h2.about__title.title.title--b about us
				p.about__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
				p.about__text Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.
			.about__images-column
				.about__imgs
					img(src="./assets/imgs/about/01.jpg" alt="content image").about__image
					img(src="./assets/imgs/about/02.png" alt="content image").about__img




