

//Book


section.book
	.container
		.book__row
			.book__column
				.book__content
					h2.book__title.title.title--b book a table
					form(action="#").book__form
						.book__form-input
							input(type="text" placeholder="Name").book__input
						.book__form-input
							input(type="email" placeholder="Email").book__input
						.book__form-input
							input(type="tel" placeholder="Phone").book__input
						.book__form-select
							img(src="./assets/imgs/book/arrow.png" alt="arrow").book__select-img
							select(name="People").book__select
								option(value="People") People
						.book__form-input
							input(type="text" placeholder="Date (mm/dd)").book__input
						.book__form-select
							img(src="./assets/imgs/book/arrow.png" alt="arrow").book__select-img
							select(name="Time").book__select
								option(value="Time") Time
						.book__button
							button(type="submit").book__btn BOOK NOW
			.book__images-column
				.book__imgs
					img(src="./assets/imgs/book/01.jpg" alt="content image").book__image
					img(src="./assets/imgs/book/02.png" alt="content image").book__img
		p.book__timetable Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM, Phone: <a href="#" class="book__timetable-link">+40 729 131 637</a><span class="book__timetable">/</span><a href="#" class="book__timetable-link">+40 726 458 782</a>
