


//Gallery

.gallery
	.gallery__body
		img(src="./assets/imgs/private/gallery/01.jpg" alt="photo premises").gallery__img
		img(src="./assets/imgs/private/gallery/02.jpg" alt="photo premises").gallery__img
		img(src="./assets/imgs/private/gallery/03.jpg" alt="photo premises").gallery__img
		img(src="./assets/imgs/private/gallery/04.jpg" alt="photo premises").gallery__img