
//Header



header.header 
	div.container
		.header__row
			nav.header__menu.header__menu--left
				ul.header__list
					li
						a.header__link(href="#") HOME
					li
						a.header__link(href="#") ABOUT
					li
						a.header__link(href="#") TEAM
					li
						a.header__link(href="#") BOOKING
			a(href="#").header__logo
				img(src="./assets/imgs/logo.svg" alt="logo").header__image
			nav.header__menu.header__menu--right
				ul.header__list
					li
						a.header__link(href="#") MENU
					li
						a.header__link(href="#") GALERIE
					li
						a.header__link(href="#") EVENTS
					li
						a.header__link(href="#") CONTACT
		.header-body
			.header-body__column
				a(href="#").header-body__logo
					img(src="./assets/imgs/logo.svg" alt="logo").header-body__image
			.header-body__column.menu-header
				.menu-header__icon
					span
					span
					span
				nav.menu-header__menu
					ul.menu-header__list
						li
							a.menu-header__link(href="#") HOME
						li
							a.menu-header__link(href="#") ABOUT
						li
							a.menu-header__link(href="#") TEAM
						li
							a.menu-header__link(href="#") BOOKIN
						li
							a.menu-header__link(href="#") MENU
						li
							a.menu-header__link(href="#") GALERIE
						li
							a.menu-header__link(href="#") EVENTS
						li
							a.menu-header__link(href="#") CONTACT

