
//Intro


section.intro
	.container
		.intro__row
			.intro__timetable
				span Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM
			.intro__content
				p.intro__label RESTAURANT
				h1.intro__title hungry people
				.intro__buttons
					a(href="#").intro__btn BOOK TABLE
					a(href="#").intro__btn EXPLORE
				a(href="#").intro__link
					img(src="./assets/imgs/intro/btn.png" alt="scroll down").intro__link-scroll
			.intro__social
				a(href="#").intro__social-link
					img(src="./assets/imgs/intro/01.png" alt="facebook")
				a(href="#").intro__social-link
					img(src="./assets/imgs/intro/02.png" alt="twitter")
				a(href="#").intro__social-link
					img(src="./assets/imgs/intro/03.png" alt="instagram")
