


//Menu


section.menu
	.container
		.menu__body
			h2.menu__title.title.title--b DELICIOUS MENU
			p.menu__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
		.menu__range
			a(href="#").menu__range-content SOUPE
			a(href="#").menu__range-content PIZZA
			a(href="#").menu__range-content PASTA
			a(href="#").menu__range-content DESERT
			a(href="#").menu__range-content WINE
			a(href="#").menu__range-content BEER
			a(href="#").menu__range-content DRINKS
		.menu__row
			.menu__column
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
			.menu__column
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
			.menu__column
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod
				.menu__item
					a(href="#").menu__name PIZZA QUATRO STAGIONI  . . . .
					a(href="#").menu__price 55,68 USD
					p.menu__description Integer ullamcorper neque eu purus euismod

