

//Private


.private
	.container
		p.private__label PRIVATE EVENTS
			.private__row
				.private__content
					.private__images
						img(src="./assets/imgs/private/01.jpg" alt="content image").private__image
						img(src="./assets/imgs/private/01.png" alt="content image").private__img
						.private__text weddings
				.private__content-rev
					.private__images-rev
						.private__text-rev corporate pzrties
						img(src="./assets/imgs/private/02.jpg" alt="content image").private__image-rev
						img(src="./assets/imgs/private/02.png" alt="content image").private__img-rev
		p.private__connect For private events please call: <a href="#" class="private__tel">+40 729 131 637</a>/<a href="#" class="private__tel">+40 726 458 782</a> or use the contact form.


