
//Special

section.special
	.container
		p.special__label specialties
			.special__row
				.special__images-column
						.special__imgs
							img(src="./assets/imgs/special/01.jpg" alt="content image").special__image
							img(src="./assets/imgs/special/02.png" alt="content image").special__img
				.special__content
					h2.special__title.title.title--w chocolate pancakes
					p.special__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
					p.special__text Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.

