

//Team


section.team
	.container
		p.team__label OUR TEAM
			.team__row
				.team__images-column
						.team__imgs
							img(src="./assets/imgs/team/01.jpg" alt="content image").team__image
							img(src="./assets/imgs/team/02.png" alt="content image").team__img
				.team__content
					h2.team__title.title.title--w MASTER CHEF
					p.team__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
					p.team__text Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.


